{% load static %}


{% block content %} {% endblock %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://blogfonts.com/css/aWQ9MTUyNDM3JnN1Yj00MzcmYz1hJnR0Zj1BbWVsaWEtQmFzaWMtQmxhY2sudHRmJm49YW1lbGlhLWJhc2ljLWJsYWNrLTI/Amelia-Basic-Black.ttf" rel="stylesheet" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'static/style.css' %}?20181209">
        <link rel="icon" href="{% static 'static/img/favicon.ico' %}" type="image/png" >
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    </head>

<body>

</body>

</html>