{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/header.html' %}

<h1 class="create-title">Create</h1>

<form class="row g-3" id="form" action="{% url 'create' %}" method="POST">
    {% csrf_token %}
    <div class="col-md-4 name">
      <label class="form-label">First name</label>
      <input type="text" class="form-control" name="name-1" placeholder="Firs Name">
      <label class="form-label">Last name</label>
      <input type="text" class="form-control" placeholder="Last Name" name="name-2">
    </div>
    <div class="email">
      <label class="form-label">E-mail</label>
      <input type="text" class="form-control" name="email" placeholder="email@email.com">
      <div class="gender">
        <select class="form-select" aria-label="Insert gender" name="gender">
          <option selected>Select gender</option>
          <option value="Man">Man</option>
          <option value="Woman">Womam</option>
        </select>
      </div>
      <input type="submit" class="btn btn-success submit" value="Submit">
    </div>

</form>

{% endblock %}