{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/header.html' %}

<h1 class="create-title">Update</h1>
{% include 'partials/alerts.html' %}
<form class="row g-3" id="form" method="POST">
    {% csrf_token %}
    <div class="col-md-4 name">
      <label class="form-label">Name</label>
      <input type="text" class="form-control" name="name" value="{{ user.name }}">
    </div>
    <div class="email">
      <label class="form-label">E-mail</label>
      <input type="text" class="form-control" name="email" value="{{ user.email }}">
      <div class="gender">
        <select class="form-select" aria-label="Insert gender" name="gender">
          <option selected>{{ user.gender }}</option>
          <option value="Man">Man</option>
          <option value="Woman">Womam</option>
        </select>
        <div class="dateclass">
          <label>Date:</label>
          <input type="text" id="date" name="date" value="{{user.date}}">
        </div>
      </div>
      <input type="submit" class="btn btn-success submit" value="Save">
    </div>

</form>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Plugin pro Datapicker novo -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js'></script>
<script>
 $('#date').datepicker({format: "yyyy-mm-dd"});
</script>

{% endblock %}