{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/header.html' %}

<div class="container-xxl">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">E-mail</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in create %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td><a class="btn btn-outline-primary" href="read/{{ user.id }}">Read</a>
                    <a class="btn btn-outline-dark" href="edit/{{ user.id }}">Edit</a>
                    <a class="btn btn-outline-danger" href="delete/{{ user.id }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}